:root {
  color: #000;
  text-align: center;
  font-family: Itim;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #242424;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "itim";
  src: url("/Itim/Itim-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("/bg.png");
  background-size: cover;
  align-items: flex-start;
}

.header {
  margin: 1rem 0% 3rem -1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 3rem;

  .logo {
    height: inherit;
    width: fit-content;
    display: flex;
    flex-direction: column;
  }
}

.title {
  color: #ffffff;
}

footer {
  display: flex;
  width: 100%;
  height: 3%;
  background-color: #535bf2;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #000000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #1a1a1a;
}
button:hover {
  border-color: #646cff;
}
button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
#root {
  display: flex;
  width: 100%;
  height: 512px;
  justify-content: center;
  align-items: center;
}

