body {
    background-color: darkgray;
}

* {
    overflow-x: hidden;
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 1vh;
}