.Chat {
    display: flex;
    flex-direction: column;
    background: white;
    position: relative;
    padding: 1vh;
    border-radius: 5px;
}

.Chat input {
    width: 80%;
    font-size: 1.8vh;
}

.Chat ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 1vh 0 0;
    width: 90%;
    overflow-y: scroll;
    height: 100%;
}

.Chat li {
    word-wrap: break-word;
    white-space: normal;
}

.Chat {
    font-size: 1.8vh;
}