body {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

* {
    overflow-x: hidden;
}

#color-palette {
    display: flex;
    flex-direction: row;
}

#color-palette div {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin: 0.5em;
    cursor: pointer;

}

#draw-cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
}
