.TopBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: var(--primary-color);
    margin: 1vh!important;
    padding: 0!important;
    border-radius: 10px;
    color: white;
}

.TopBar > * {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vh;
    align-items: center;
    width: 100%;
}


.TopBar button {
    background: var(--background-color);
}

.TopBar button:hover {
    background: white;
    color: var(--background-color);
}

