.Players {
    max-height: 400px;
    overflow-y: auto;
}

.Players ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 2vh;
}

.Players li {
    background: var(--secondary-color);
    width: 90%;
    padding: 1vh;
    border-radius: 10px;
    color: white;
    margin: 0.5vh 0;
}

