.Room {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70vw;
    height: 80vh;
}

.Room > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 1vh;
    background: var(--secondary-color);

}

.GameState {
    padding: 1vh 5vh 1vh 5vh;
}

.Game {
    padding: 5vh;
}

.Game > div:not(.Canvas) {
    overflow-x: hidden;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.Canvas {
    background: red;
    width: 60%;
    height: 100%;
}

.Canvas button {
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

.Canvas input {
    width: 50%;
    outline: none;
}

.DrawTools {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;

    border-radius: 15px;
}