.Room {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 60vh;
    max-height: 60vh;
}

.Room > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 1vh;
}

.Room .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Room .title > div {
    display: flex;
    flex-direction: row;
}

.Room .title button {
    background: transparent;
    padding: 0;
}

.Game {
    padding: 1vh;
    height: 100%;
}

.Game > div:not(.Canvas):not(.GameConfig) {
    overflow-x: hidden;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
