.incrementer-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.incrementer-label {
    align-self: center;
    user-select: none;
}

.incrementer-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    align-self: center;
    color: inherit;
}

.incrementer-decrement, .incrementer-increment {
    margin: 8px;
    height: 32px;
}